html {
	background-color: honeydew;
}

body {
	font-family: sans-serif;
}

.title {
	font-size: 30px;
}

.instructions {
	font-size: 15px;
}

.label {
	padding-left: 15px;
	margin: 0 15px;
}

#sliders {
	text-align: right;
	margin-right: 5%;
}

